* {
    margin: 0;
    padding: 0;
}

body {
    background: #3a3d47;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    color: #ffc400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px 0 15px 0;
    font-size: 30px;
}

.container {
    background: black;
    width: 1200px;
    margin: 10px auto;
}

.slider {

}

.top {
    background: black;
    overflow: hidden;
}

.logo {
    float: left;
    width: 200px;
    padding-left: 60px;

}

.menu {
    float: left;
    padding-top: 80px;
    padding-left: 120px;
}

.options li {
    float: left;
    list-style: none;
}

.options li a {
    color: white;
    padding: 30px;
    text-decoration: none;
    border: 1px solid white;
}

.options li a:hover {
    background: goldenrod;
}

.body {
    overflow: hidden;
}

.box {
    float: left;
    color: goldenrod;
    width: 380px;
    margin: 8px;
    border: 1px solid;
    height: 800px;
}

.subtitle {
    background: goldenrod;
    color: white;
}

.services {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 15px 0;
}

.effect:hover {
    opacity: 0.5;
    cursor: pointer;
}

.content {
    padding: 10px;
    text-align: justify;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.contenta {
    padding: 10px;
    text-align: justify;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button {
    background: goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large 100px;
    color: white;
    border: none;
    padding: 20px 30px;
    margin: 10% 0;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

.button a {
    background: goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large 100px;
    color: white;
    border: none;
    padding: 20px 30px;
    margin: 46% 0;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

.button3 {
    background: goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large 100px;
    color: white;
    border: none;
    padding: 20px 30px;
    margin: 22% 0;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

.button:hover {
    background: gold;
    cursor: pointer;
}

.footer {
    background: black;
    overflow: hidden;
}

.left {
    float: left;
    width: 400px;
    padding: 10px;
}

.right {
    float: left;
    width: 700px;
    padding: 30px;
}

.below {
    color: white;
    font-size: 12px;
    padding: 10px;
}

.follow {
    color: goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    padding: 40px 0;
}